#about, #belief{
	width: inherit;
	overflow: hidden;
	background: #dadada; 
}

.vmg{
	float:left; 
	width: 300px; 
	overflow: hidden; 
	background: #dadada; /*url('../images/pastel_green.jpg') repeat;*/
	border-radius: 5px;
}

.vmg_content{
	width: 250px; 
	margin: 20px auto;
}

.about_intro{
	width: 950px;
	background: #dadada;
}

.core_values{
	margin: 15px;
}

.core_img{
	width: 150px;
	height: 180px;
	margin: 10px;	
	float: left;
}

.core_img.core1{background: url('../images/about_lwit/core1.png') no-repeat; background-size: 100%;}
.core_img.core2{background: url('../images/about_lwit/core2.png') no-repeat; background-size: 100%;}
.core_img.core3{background: url('../images/about_lwit/core3.png') no-repeat; background-size: 100%;}
.core_img.core4{background: url('../images/about_lwit/core4.png') no-repeat; background-size: 100%;}
.core_img.core5{background: url('../images/about_lwit/core5.png') no-repeat; background-size: 100%;}

.about_list{
	float: left;
}


.service_1{
		background: url('../images/woodencross.png') no-repeat;
		width: 75px;
		height: 100px;
	}
	.service_2{
		background: url('../images/discipleship.jpg') no-repeat;
		width: 150px;
		height: 100px;
	}
	.service_3{
		background: url('../images/gifts.png') no-repeat;
		width: 150px;
		height: 100px;
	}
	.service_4{
		background: url('../images/money.png') no-repeat;
		width: 150px;
		height: 120px;
	}
	.service_5{
		background: url('../images/evangelism.png') no-repeat;
		width: 180px;
		height: 100px;
	}

.about_belief{
	background: #c1b89b;;
	width: inherit;
}

.about_belief, .about_intro{
	color: #293342; 
}
	.about_intro h1, .about_belief h1{
		font-size: 2.5em;
		margin-left: 15px;
	}

.belief_content{
	width: 45%;
	float: left;
	overflow: hidden;
	margin: 10px; 5px;
}

	.belief_content li{
		font-size: 12px;
	}

	.cross{
		background-image: url("../images/menu_icons/jesus_cross_icon.png");
	}
