*{ 
	margin: 0; 
	padding: 0; 
}

a{ 
	text-decoration: none; 
	outline: none; 
}
a img{ 
	border: none; 
}

h2{
	font-family: Helvetica, Sans-Serif; 
	color: #293342;
	font-size: 30px; 
	text-align: center; 
	font-weight: normal; 
}

#page-wrap{ 
	background: white; 
	width: 1000px; 
	margin: 0 auto; 
	padding: 50px 0; 
}

#slider{
	background: #04389d; /*url(../images/slider-bg.jpg);*/ 
	height: 500px;
	overflow: hidden;
	position: relative;
	margin: 15px 0px 0px 0px;
}

#slider1_container{
	position: relative; 
	margin: 0 auto;
    top: 0px; 
    left: 0px; 
    width: 960px; 
    height: 500px;
    background: url(../images/slider_img/main_bg.jpg) top center no-repeat;
    background-size: 1100px 500px;
}

#slides{
	cursor: move;
	position: absolute; 
	left: 0px; 
	top: 0px; 
	width: 960px;
    height: 500px; 
    overflow: hidden;
}
/*overwritten for new slideshow					  
/* DEFAULT is for three panels in width, adjust as needed
This only matters if JS is OFF, otherwise JS sets this.							  
#mover{ 
	width: 2880px; 
	position: relative; 
}

.slides{ 
	padding: 40px 30px; 
	width: 1000px; 
	float: left; 
	position: relative; 
}
.slides h1{ 
	font-family: Helvetica, Sans-Serif; 
	font-size: 30px; 
	letter-spacing: -1px;
	color: #293342;
}
.slides p{ 
	font-family: "Calibri", "Lucida Console", "MS Sans Serif";
	color: #293342; 
	font-size: 15px; 
	line-height: 22px; 
	width: 300px; 
}
.slides img{
	position: absolute;
	top: 20px; 
	left: 400px; 
}
#mover a .slide_come {
	background: url("../images/slider_img/come.png") no-repeat;
	height: 100%;
}*/


@media screen and (max-width: 300px) {
    *{ 
		margin: 10px; 
		padding: 10px; 
	}
	
	a{ 
		text-decoration: none; 
		outline: none; 
	}
	a img{ 
		border: none; 
	}
	
	h2{
		font-family: Helvetica, Sans-Serif; 
		color: #293342;
		font-size: 30px; 
		text-align: center; 
		font-weight: normal; 
	}
	
	#page-wrap{ 
		background: white; 
		width: 300px; 
		margin: 0 auto; 
		padding: 10px 0; 
	}
	
	#slider{
		background: #04389d; /*url(../images/slider-bg.jpg);*/ 
		overflow: hidden;
		position: relative;
		margin: 15px 0px 0px 0px;
	}
	
	#slide_1{
		position: relative; 
		left: 50%; 
		width: 300px; 
		text-align: center;
	}
	
	#slider1_container{
		position: relative; 
		margin: 0 auto;
        top: 0px; 
        left: 0px; 
        width: 960px; 
        height: 500px;
        background: url(../images/slider_img/main_bg.jpg) top center no-repeat;
        background-size: 1100px 500px;
	}
	
	#slides{
		cursor: move; 
		position: absolute; 
		left: 0px; 
		top: 0px; 
		width: 960px;
        height: 500px; 
        overflow: hidden;
	}
}